<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Menu</title>
</head>
<body>

    <!-- nav bar starts -->
    <nav class="navbar navbar-expand-lg navbar-light" style="position: sticky; top:0; z-index: 2;">
        <a class="navbar-brand" href="/menu">Hamro Menu</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/menu">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/orders">Orders</a>
              </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" action="/logout" method="GET">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Logout</button>
              </form>
        </div>
    </nav>
    <!-- nav bar ends -->


        <div class="container heading"><h1>Available Items</h1></div>
        <div class="container addBtn">
            <button id="addBtn">Add item</button>
            <div id="jsError">jjfjdbgf</div>
            <div class="alert-danger mt-3 p-2 text-center h3" th:if="${result}" th:text="${result}"></div>
        </div>
        <div class="formContainer" id="formContainer">
            <form id="dataInput" method="POST" action="/create-item" enctype="multipart/form-data">
                <h3 class="formTitle">ADD ITEM</h3><hr>
                <div class="name">
                    <label class="addItem">Enter Name :</label>
                    <input class="addItem" maxlength="30" type="text" name="name" required>
                </div>
                <div class="price">
                    <label class="addItem">Enter Price :</label>
                    <input class="addItem" type="number" name="price" required>
                </div>
                <div class="picture">
                    <label class="addItem">Add picture :</label>
                    <input class="addItem file" type="file" name="img">
                </div>
                <div class="buttons">
                    <input class="addItem" id="submit" type="submit" value="SUBMIT">
                    <input class="addItem" id="cancel" type="button" value="CANCEL">
                </div>
            </form>
            </div>

    <div th:if="${items}">
        <div class="container alert-info text-center h4 itemMsg" th:if="${items.isEmpty()}">You have not added any items</div>
        <form id="menu" th:unless="${items.isEmpty()}">
        <div class="container main">
            <div class="row">

                <div class="col-sm-4 item" th:each="item: ${items}">
                    <div class="content">
                        <img id="image" th:src="@{${item.image}}" alt="no image">
                        <label class="foodName" th:text="${item.name}"></label>
                        <label class="foodPrice" th:text="'Rs. '+${item.price}"></label>
                        <input type="checkbox" name="food" th:value="${item.itemId}" th:id="'check'+${item.itemId}">
                        <label name="item" th:for="'check'+${item.itemId}">Select Item</label>
                        <input type="button" class="delButton" value="Delete" th:id="${item.itemId}">
                    </div>
                </div>

            </div>
        </div>


        <div class="container order">
            <input type="submit" class="button orderBtn" value="CREATE ORDER">
          </div>

        </form>
    </div>

      <!-- Footer-->
    <div class="footer">
        <div class="container">
            <p>mygroup Copyright &copy; 2021</p>
        </div>
    </div>
    <script src="js/menu.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>